#navigation_bar {
  background: #f5f5f5;
}
.navigation_bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navigation_bar .nav {
  width: 440px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
